@use '../config/reset';
@use '../config/variaveis';
@use './card.scss';

body{
    background-color: variaveis.$primaryColor;
    font-family:variaveis.$fontFamily;
    font-size: 16px;
}

.container{
    margin: 0 auto;
    max-width: 920px;
}

header{
    .container{
        padding-top: 4rem;
        text-align: center;

        .title {
            color: variaveis.$titleColor;
            font-size: 2rem;
        }
    }
}

main{
    .container{
        display: flex;
        justify-content: space-between;
        padding-top: 8rem;
    }
}