.container__nascimento{
    width:27% ;
}
.container__cpf{
    width:2%7 ;
}
.container__rg{
    width:27% ;
}
.container__expedidor{
    width:15% ;
}
.container__cidade{
    width:40% ;
}
.container__uf{
    width: 10%;
}