.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .75rem;
    width: 25%;
}

.input__container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input__label{
    margin-bottom: 8p.5remx;
}

.formulario__botao{
    background-color: rgb(225, 225, 225);
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 5px gray;
    margin-top: .5rem;
    padding: 5px;
}

.formulario__botao:hover{
    background-color: rgb(194, 194, 194);
    box-shadow: 2px 2px 5px black;
}

.container__notificacao{
    text-align: center;
}

.notificacao{
    box-sizing: border-box;
    padding: 8px;
}

.sucesso{
    background-color: greenyellow;
}

.falha{
    background-color: red;
    color: white;
    font-weight: bold;
    width: 100%;
}